<html>
    <head>
        <title>CONTAINMENT ZONE ALERTING APPLICATION</title>
        <link href="../static/success.css" rel="stylesheet"/>
    </head>
    <body>
         
      <h4 style="margin-top: -50px;">SUCCESSFULLY REGISTERED</h4>
      <ul>
        <a href="/home" target="_blank"><li style="text-decoration: none;">HOME</li></a>
        <a href="/service" target="_blank"><li>SERVICES</li>  </a>
        <a href="/zone" target="_blank"> <li>ZONE LIST </li>  </a>
              
        </ul>
    </body>
</html>
